@model Bids.Models.Item

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<p>
    @Html.LabelFor(m => m.Title)
    @Html.DisplayFor(m => m.Title)
</p>
<p>
    @Html.LabelFor(m => m.Description)
    @Html.DisplayFor(m => m.Description)    
</p>
<p>
    @Html.LabelFor(m => m.AuctionEndDate)
    @Html.DisplayFor(m => m.AuctionEndDate)
</p>
<p>
    Bids: @Model.Bids.Count()
</p>