@model Bids.Models.Item

@{
    ViewBag.Title = "Item Details";
}

<h2>Item Details</h2>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            @Html.LabelFor(m => m.Title)
        </div>
        <div class="col-md-3">
            @Html.DisplayFor(m => m.Title)
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            @Html.LabelFor(m => m.Description)
        </div>
        <div class="col-md-3">
            @Html.DisplayFor(m => m.Description)
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            @Html.LabelFor(m => m.AuctionEndDate)
        </div>
        <div class="col-md-3">
            @Html.DisplayFor(m => m.AuctionEndDate)
        </div>
    </div>
</div>
<div>
    <h3>Bids</h3>
    @foreach (var bid in @Model.Bids)
    {
        <div class="row">
            <div class="col-md-4">@bid.Member.LoginName</div>
            <div class="col-md-4">@bid.BidAmount</div>
            <div class="col-md-4">@bid.DatePlaced</div>
        </div>
    }
</div>
<div>
    <h3>Add new Bid</h3>
    @Html.Partial("AddBid", @Model)
</div>
