@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                To learn more about ASP.NET MVC visit
                <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
                The page features <mark>videos, tutorials, and samples</mark> to help you get the most from ASP.NET MVC.
                If you have any questions about ASP.NET MVC visit
                <a href="http://forums.asp.net/1146.aspx/1?MVC" title="ASP.NET MVC Forum">our forums</a>.
            </p>
        </div>
    </section>
}
<h3>My published Items</h3>
<div>
@foreach (Bids.WebUI.Models.Item it in ViewBag.MyItems)
{
    <div>
        <div>@it.Title</div>
        <div>@it.AuctionEndDate</div>
    </div>
}
</div>

<h3>My Bids</h3>
<div>
@foreach (Bids.WebUI.Models.Bid bid in ViewBag.MyBids)
{
    <div>
        <div>@bid.Item.Title</div>
        <div>@bid.DatePlaced</div>
        <div>@bid.BidAmount</div>
    </div>
}
</div>